/*
font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Shrikhand', cursive;
font-family: 'Courgette', cursive;
font-family: 'Handlee', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Niconne', cursive;
font-family: 'Cantarell', sans-serif;
font-family: 'Slabo 27px', serif;
*/

/*
  background
  */
body {
    font-family: 'Slabo 27px', serif;
    /*font-family: 'Bree Serif', serif;*/
    font-size: 70px;
    min-height: 600px;
    min-width: 800px;

    background: rgb(132, 132, 132);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(132, 132, 132)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(132, 132, 132), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(132, 132, 132), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(132, 132, 132), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(132, 132, 132), rgb(190, 190, 190));
    background:         radial-gradient(rgb(132, 132, 132), rgb(190, 190, 190));
}

div {
  width: 100%;
}

a {
  color: inherit;
}

.step {
    position: relative;
    opacity: 0.1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    font-size: 100%;
    line-height: 1.5;

    text-align: center;
}

.step li {
  text-align: right;
  margin-right: 10%;
  list-style: none;
  font-size: 70%;
  font-family: 'Slabo 27px', serif;
}

.step.dense li {
  text-align: right;
  margin-right: 5%;
  list-style: none;
  font-size: 50%;
}

.step li.odd {
  color: rgb(229, 229, 229);
}

.step li.even {
  color: rgb(64, 64, 64);
}

.step.active { opacity: 1 }

.step.hide-inactive { display: none }
.step.hide-inactive.active { display: block }

.step.title {
  font-family: 'Great Vibes', cursive;
  /*font-family: 'Tangerine', cursive;*/
  width: 100%;
}

.step.title h1 {
  font-size: 100%;
}

.step.title h2 {
  font-size: 70%;
  font-weight: normal;
}

.step.gnome {
  background-image: url("../images/gnome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 800px;
  height: 600px;
}

.step.guadec {
  background-image: url("../images/guadec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 800px;
  height: 600px;
}

.step.stallman {
  background-image: url("../images/stallman.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 800px;
  height: 600px;
}

.step.xerox {
  background-image: url("../images/xerox_9700.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 800px;
  height: 600px;
}
